main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
  background: #f6f6f6;

  .col-main {
    margin-right: 50px;
    width: 50%;
  }
}

//////////////// MEDIA
@media(max-width: 768px) {
  main {
    .col-main {
      width: 100%;
    }
  }
}
