.tweets {
  width: 350px;
  border: 1px solid #bbb;
  border-radius: 4px;

  >h2 {
    margin: 0;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
  }
}
