.markdown-editor {
  border: 1px solid #ccc;

  .tab {
    color: #24292e;
    border: 1px solid #d1d5da;
    border-radius: 3px;
  }

  .markdown-header {
    border-bottom: 1px solid #c3c6c9;
    padding-left: 10px;
    padding-top: 10px;
    background: #f0f0f0;

    .tabs {
      margin-bottom: -1px;

      button {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 3px 3px 0 0;
        color: #24292e;
        border-bottom: 0;
        font-size: 15px;
        line-height: 20px;
        padding: 8px 12px;
        outline: none;

        &.is-active {
          border-color: #c3c6c9;
          background: #f6f6f6;
        }
      }
    }

    .markdown-toolbar {
      display: flex;
      padding: 4px 0;
      float: right;
      margin-right: 17px;

      .toolbar-button {
        color: rgba(0, 0, 0, 0.7);
        font-size: 24px;
        line-height: 22px;
        text-decoration: none;
        padding: 2px 6px;
        border: none;
        background: none;
        cursor: pointer;

        .sd-italic {
          font-size: 17px;
          vertical-align: -1px;
        }

        .sd-link-1 {
          font-size: 20px;
          vertical-align: -3px;
        }

        .sd-code {
          font-size: 20px;
          vertical-align: -2px;
        }

        &:hover {
          color: black;
          background: rgba(var(--palette-neutral-8, 234, 234, 234), 1);
        }
      }
    }
  }

  .markdown-body {
    padding: 10px 18px 10px 10px;

    textarea {
      width: 100%;
      height: 600px;
      resize: vertical;
      border-radius: 3px;
      background: #fafbfc;
    }
  }
}
