<div class="markdown-editor">
    <div class="markdown-header">
        <div class="markdown-toolbar">
            <button class="toolbar-button" (click)="toolbar('heading')"><i class="sd-letter"></i></button>
            <button class="toolbar-button" (click)="toolbar('bold')"><i class="sd-bold"></i></button>
            <button class="toolbar-button" (click)="toolbar('italic')"><i class="sd-italic"></i></button>
            <button class="toolbar-button" (click)="toolbar('link')"><i class="sd-link-1"></i></button>
            <button class="toolbar-button" (click)="toolbar('code')"><i class="sd-code"></i></button>
            <button class="toolbar-button" (click)="toolbar('list-bullet')"><i class="sd-list-bullet"></i></button>
            <button class="toolbar-button" (click)="toolbar('list-ordered')"><i class="sd-list-ordered"></i></button>
            <button class="toolbar-button" (click)="toolbar('you-tube')"><i class="sd-youtube"></i></button>
        </div>
        <div class="tabs" role="tablist">
            <button role="tab" [class.is-active]="activeTab === 'WRITE'" (click)="selectTab('WRITE')">Write</button>
            <button role="tab" [class.is-active]="activeTab === 'PREVIEW'" (click)="selectTab('PREVIEW')">Preview</button>
        </div>
    </div>
    <div class="markdown-body">
        <div *ngIf="activeTab === 'WRITE'" class="write">
            <textarea (input)="inputChanged($event)" [value]="value" (blur)="onBlur()" #input></textarea>
        </div>
        <div *ngIf="activeTab === 'PREVIEW'" class="preview">
            <p [innerHtml]="htmlValue"></p>
        </div>
    </div>
</div>