@import "../../../styles/variables/variables";

.contact {

  .contact-form {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 22px 27px;
    background: rgba(255, 255, 255, 0.48);

    .control-group {
      label {
        display: block;
        font-weight: 600;
        margin-bottom: 3px;
      }

      .control {
        display: block;
        margin-bottom: 13px;

        &[type=text] {
          width: 300px;
          max-width: 100%;
        }

        &[type=textarea] {
          height: 200px;
          width: 98%;
        }
      }
    }

    .form-buttons {
      text-align: right;
    }
  }
}
