<main>
    <section class="col-main blog-post" aria-label="blog post">
        <div *ngIf="post" class="blog-post" role="list">
            <div class="heading">
                <h2>{{post.title}}</h2>
                <div class="sub-heading">
                    <a class="avatar" (click)="navigateToProfile()" appLink>
                      <span class="avatar-image" alt="Open the profile of AS on another page"></span>
                  </a>
                    <div class="post-info">
                        <a class="who" (click)="navigateToProfile()" appLink>Accept Serendipity</a>
                        <div class="when">{{post.date}}</div>
                    </div>
                </div>
            </div>
            <div class="body">
              <div [formGroup]="form">
                <app-editor *ngIf="isNew" formControlName="content"></app-editor>
              </div>
              <p [innerHtml]="post.formattedContent"></p>
            </div>
            <div class="share">
                <label>Follow Accept Serendipity:</label>
                <a class="facebook" href="https://www.facebook.com/AcceptSerendipity" target="_blank"><i class="sd-facebook-squared"></i></a>
                <a class="twitter" href="https://www.twitter.com/AcceptSerendipity" target="_blank"><i class="sd-twitter"></i></a>
            </div>
        </div>

        <div *ngIf="post" class="blog-nav">
            <div class="blog-nav-wrapper">
                <a *ngIf="post.previousPost" class="blog-nav-item prev-post" (click)="navigate(post.previousPost.id)">
                    <div class="col-icon">
                        <i class="icon sd-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="col-info">
                        <div class="post-name">{{post.previousPost.title}}</div>
                        <div class="post-date">{{post.previousPost.date}}</div>
                    </div>
                </a>
            </div>
            <div class="blog-nav-wrapper">
                <a *ngIf="post.nextPost" class="blog-nav-item next-post" (click)="navigate(post.nextPost.id)">
                    <div class="col-info">
                        <div class="post-name">{{post.nextPost.title}}</div>
                        <div class="post-date">{{post.nextPost.date}}</div>
                    </div>
                    <div class="col-icon">
                        <i class="icon sd-chevron-right" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <aside class="side-bar-layout">
        <app-side-bar></app-side-bar>
    </aside>
</main>