@import "../../../../styles/variables/variables";

.blog-post {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;

  .heading {
    h2 {
      font-family: $experimentalFont;
      font-size: 42px;
      font-weight: 400;
      margin-bottom: 0px;
    }

    .sub-heading {
      margin: 15px 0 24px 0;
      display: flex;
      align-items: center;

      .avatar {
        .avatar-image {
          display: inline-block;
          position: relative;
          vertical-align: middle;
          border-radius: 100%;
          width: 90px;
          height: 90px;
          background: #d2d2d2;

          &:after {
            content: 'AS';
            position: absolute;
            font-size: 40px;
            color: white;
            top: 20px;
            left: 20px;
          }
        }
      }

      .post-info {
        padding-left: 15px;

        .who {
          display: inline-block;
          text-decoration: none;
          color: rgba(0, 0, 0, .54);
          margin-bottom: 3px;
        }

        .when {
          color: rgba(0, 0, 0, .54);
        }
      }
    }
  }

  .body {
    margin-bottom: 60px;

    p {
      line-height: 33px;
      font-size: 21px;
    }
  }

  .share {
    text-align: right;
    cursor: pointer;
    font-size: 40px;

    a {
      margin-left: 15px;

      &.facebook {
        color: rgb(49, 89, 146);
      }

      &.twitter {
        color: rgb(0, 172, 240);
      }

      &:hover {
        color: #55abed;
      }
    }
  }
}

.blog-nav {
  display: flex;
  margin-top: 10px;
  padding-top: 20px;
  border-top: solid 1px #dcdcdc;
  justify-content: space-between;
  font-family: $secondaryFont;

  .blog-nav-wrapper {
    .blog-nav-item {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      .col-icon {
        font-size: 36px;
        width: 30px;
      }

      .col-info {
        .post-name {
          font-weight: 500;
          margin-bottom: 3px;
        }

        .post-date {
          font-size: 13px;
          color: #999;
        }
      }

      &.prev-post {
        .col-info {
          padding-left: 7px;
        }
      }

      &.next-post {
        .col-info {
          text-align: right;
          padding-right: 3px;
        }
      }
    }
  }
}

//////////////// RESPONSIVENESS //////////////////
@media(max-width: 860px) {
  .blog-post {
    padding-left: 20px;
  }
}
