<main>
    <section class="col-main blog-posts" aria-label="blog posts">
        <div *ngIf="data" role="list">
            <a *ngFor="let post of data.results" class="post" role="listitem" (click)="navigate(post.id)" appLink>
                <div class="heading">
                    <h2>{{post.title}}</h2>
                    <div class="sub-heading">
                        <div class="when">{{post.date | date:'fullDate'}}</div>
                    </div>
                </div>
                <div class="body">
                    <p class="summary">{{post.preview}}</p>
                </div>

                <div class="actions">
                    <span class="action">Read More</span>
                </div>
            </a>
        </div>
    </section>

    <aside class="side-bar-layout">
        <app-side-bar></app-side-bar>
    </aside>
</main>