@import '../../../../styles/variables/variables';

.blog-posts {
  .post {
    display: block;
    padding: 30px 10%;
    border: 1px solid #bbb;
    //box-shadow: -13px 8px 10px rgba(175, 175, 175, 0.3);
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    text-decoration: none;
    color: #222;

    .heading {
      h2 {
        font-family: $experimentalFont;
        margin: 0 0 5px 0;
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        line-height: 0.95em;
      }

      .sub-heading {
        display: flex;
        justify-content: center;
        color: #999;
        text-align: center;
        margin-top: 8px;

        .when {
          margin-right: 10px;
          font-size: 15px;

          i {
            vertical-align: -1px;
            margin-right: 5px;
          }
        }
      }
    }

    .body {
      .summary {
        position: relative;
        max-height: 250px;
        overflow: hidden;
        margin-bottom: 10px;

        .blog-content {

          p {
            line-height: 27px;
            font-size: 19px;
          }

          img {
            display: none;
          }

        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          height: 100px;
          background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 50%, white 100%);
          // background: linear-gradient(to left,#eee 0,rgba(238,238,238,0) 100%);
        }
      }
    }

    .actions {
      text-align: center;

      .action {
        cursor: pointer;
        color: #1DA1F2;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

////////////////////// RESPONSIVENESS ////////////////////
@media(max-width: 860px) {
  .blog-posts {
    .post {
      border-radius: 0;
      border-right: none;
      border-left: none;
    }
  }
}
