@import "../../../styles/variables/variables";

.side-bar {
  .side-bar-card {
    background: white;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #bbb;

    .header {
      overflow: hidden;
      position: relative;

      h2 {
        font-family: $secondaryFont;
        margin: 0;
        font-size: 18px;
        padding: 10px 0 4px 10px;
        font-weight: 500;
      }

      // &:after {
      //   content: "";
      //   position: absolute;
      //   background: #ddd;
      //   height: 1px;
      //   margin-left: 15px;
      //   top: 50%;
      //   width: 100%;
      //   transform: translateY(-50%);
      // }
    }
  }
}

//////////////// RESPONSIVENESS //////////////////
@media(max-width: 860px) {
  .side-bar {
    .side-bar-card {
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }
}
