<main>
    <section class="col-main blog-post" aria-label="blog post">
        <div *ngIf="post" class="blog-post" role="list">
            <div class="heading">
                <h2>{{post.title}}</h2>
                <div class="sub-heading">
                    <a class="avatar" (click)="navigateToProfile()" appLink>
                      <img src="https://cdn-images-1.medium.com/fit/c/100/100/0*zh7FMZVdQzl-w-tt." class="avatar-image" alt="Open the profile of Liz Dias on another page">
                  </a>
                    <div class="post-info">
                        <a class="who" (click)="navigateToProfile()" appLink>{{post.by}}</a>
                        <div class="when">{{post.date}}</div>
                    </div>
                </div>
            </div>
            <div class="body">
                <p>{{post.content}}</p>
            </div>
        </div>
    </section>

    <aside class="side-bar-layout">
        <app-side-bar></app-side-bar>
    </aside>
</main>