<main class="blog-posts">
    <section class="col-main" aria-label="blog post">
        <div *ngIf="post" class="blog-post" role="list">
            <div class="heading">
                <h2>{{post.title}}</h2>
                <div class="sub-heading">
                    <div class="when"><i class="sd-clock-4"></i>{{post.date}}</div>
                    <div class="share">
                        <a><i class="sd-facebook-squared"></i></a>
                        <a><i class="sd-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="body">
                <p class="summary">{{post.content}}</p>
            </div>
        </div>
    </section>

    <aside class="side-bar-layout">
        <app-side-bar></app-side-bar>
    </aside>
</main>