@import "../../../styles/variables/variables";

.recent-posts {
  margin-bottom: 15px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 15px 10px;

    li {
      a {
        display: inline-block;
        color: #1DA1F2;
        text-decoration: none;
        margin-bottom: 4px;
        width: 100%;

        .icon {
          font-size: 12px;
          color: #3b789c;
          margin-right: 5px;
          vertical-align: -1px;
        }

        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
