<header class="banner">
    <div class="title-section">
        <h1>Serendipity</h1>
        <h2 class="sub-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </div>
</header>

<nav>
    <ul>
        <li class="nav-item is-active">
            <a [href]="" (click)="navigate($event, '')">Home</a>
        </li>
        <li class="nav-item">
            <a [href]="about" (click)="navigate($event, 'about')">About</a>
        </li>
        <li class="nav-item">
            <a [href]="contact" (click)="navigate($event, 'contact')">Contact</a>
        </li>
    </ul>
</nav>