<div class="banner">
  <div class="title-section">
    <h1>Serendipity</h1>
    <div class="sub-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
  </div>
</div>

<nav>
  <div class="nav-item is-active">Home</div>
  <div class="nav-item">About</div>
  <div class="nav-item">Contact</div>
</nav>

<div class="main">
  <div class="blog-posts">
    <div class="post">
      <div class="heading">
        <h2>Lorem ipsum dolor sit amet.</h2>
        <div class="sub-heading">
          <div class="when"><i class="sd-clock-4"></i>(some date)</div>
          <div class="share">
            <a><i class="sd-facebook-squared"></i></a>
            <a><i class="sd-twitter"></i></a>
          </div>
        </div>
      </div>

      <div class="body">
        <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia corporis quia
          nostrum incidunt hic velit ea, necessitatibus omnis explicabo totam impedit et deserunt reprehenderit vitae
          eligendi repellendus numquam dicta? Nisi id, cumque minus recusandae fuga nihil voluptatibus placeat ipsam
          aliquid perferendis aperiam? Dolores odio accusantium blanditiis fugit, sint delectus!
        </p>
      </div>

      <div class="actions">
        <a href="">Read More</a>
      </div>
    </div>

    <div class="post">
        <div class="heading">
          <h2>Lorem ipsum dolor sit amet.</h2>
          <div class="sub-heading">
            (date) icons for linking
          </div>
        </div>

        <div class="body">
          <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia corporis quia
            nostrum incidunt hic velit ea, necessitatibus omnis explicabo totam impedit et deserunt reprehenderit vitae
            eligendi repellendus numquam dicta? Nisi id, cumque minus recusandae fuga nihil voluptatibus placeat ipsam
            aliquid perferendis aperiam? Dolores odio accusantium blanditiis fugit, sint delectus!
          </p>
        </div>

        <div class="actions">
          <a href="">Read More</a>
        </div>
      </div>
  </div>

  <div class="side-bar">
    <app-side-bar></app-side-bar>
  </div>
</div>
